{% extends "base.html"%}

{% block title %} - Home {% endblock%}
{% block content %}
<h1>Health App - Create Orders</h1>


<div class="btn-container">
    <div>
        <a href="{% url 'home' %}">
            <button class="btn">
                Back Home
            </button>
        </a>
    </div>
    <div>
        <form action="{% url 'orders'%}" method="POST">
            {% csrf_token %}
            <div class="inputs">
                <label for="name" class="inputlabel" >patient</label>
                <input type="text"  class="inputfield" name="patient" required>
            </div>
            <div class="inputs">
                <label  class="inputlabel" for="medicine">Address</label>
                <input type="text" class="inputfield" name="medicine" required>
            </div>

    </div>
    <div>
        <a href="{% url 'orders' %}">
            <button class="btn">
                Order
            </button>
        </a>
    </div>
     
    </form>
  
</div>
{% endblock %}